<h3>マイぺージ</h3>
<div>
  <% if @customer.profile_image.attached? %>
    <%= image_tag @customer.get_profile_image(100,100) %>
  <% else %>
     <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
  <p><%= @customer.name %><p>
  <p><%= @customer.introduction %></p>
  <%= link_to "編集", edit_customers_path %>
  <%= link_to "退会", customers_mypage_confirm_path %>
</div>