<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>プロフィール</h3>
        <% if @customer.profile_image.attached? %>
          <%= image_tag @customer.get_profile_image(200,200), class: "rounded-circle", size: "150x150" %>
        <% else %>
           <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
    </div>
    <div class="col-6">
      <div class="row">
        <label class="col-6">名前</label>
          <div><%= @customer.name %></div>
        <label class="col-6">プロフィール</label>
          <div><%= @customer.introduction %></div>
      </div>
    </div>
    </div>  
  </div>    
</div>
      <div class="">
        <% if current_customer == @customer %>
          <%= link_to "退会", confirm_mypage_path, class: 'btn btn-outline-dark m-5 btn-danger' %>
          <%= link_to "編集", edit_mypage_path, class: 'btn btn-outline-dark m-5 btn-success' %>
          <%= link_to"いいね一覧",favorites_path, class: 'btn btn-outline-dark m-5 btn-warning' %>
        <%end%>
      </div>
<h3>投稿一覧</h3>
<% @post_contents.each do |post|%>
 <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-5">
          <% if post.main_images.attached? %>
            <div class="image_slide mr-5">
                <% post.main_images.each do |image| %>
                  <div class="image_size"><%= image_tag(image, width: 300) %></div>
                <%end%>
              </div>
            <% else %>
              <%= image_tag 'no_image', size: "100x100" %>
            <% end %>
        </div>
          <div class="col-7">
            <div class="item-group row">

           <label class="col-sm-5 col-item-label">位置情報</label>
           <div class="col-sm-7">
              <%= post.address %>
           </div>

            <label class="col-sm-5 col-form-label">場所名</label>
            <div class="col-sm-7">
              <%= link_to post_content_path(post.id) do %>
                <%= post.name %>
              <%end%>
            </div>

            <label class="col-sm-5 col-form-label">内容</label>
            <div class="col-sm-7">
              <%= post.description %>
            </div>
    </div>
  </div>
<%end%>

<script>
  $(function() {
    $('.image_slide').slick({
        dots: true,
        centerMode: true,
    });
  });
</script>