
<div class="top-image">
  <div class="top_container">
    <div class="top_buttons">

        <% if customer_signed_in? %>
            <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'btn btn-outline-dark' %>

            <%= link_to 'MAP', maps_path, 'data-turbolinks': false, class: 'btn btn-outline-dark' %>
        <% else %>
            <%= link_to 'ゲストログイン', customers_guest_sign_in_path, method: :post, class: 'btn btn-outline-dark btn btn-secondary' %>
              <p>※ゲストログインは投稿できません</p>

            <%= link_to '新規登録', new_customer_registration_path, class: 'btn btn-outline-dark btn-success mr-5' %>

            <%= link_to 'ログイン', new_customer_session_path, class: 'btn btn-outline-dark btn-primary ml-5' %>

        <% end %>
    </div>
  </div>
</div>
