<main>
  <body>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcJDsa17yjZCtsrXy3jD9ogZ_ryBFm0LA&callback=initMap" async defer></script>
    <% if @post_content.errors.any? %>
      <h3 class="text-danger">!!画像を選択してください!!</h3>
          <% @post_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
          <% end %>
    <% end %>
    <div class="container mx-auto" style="width: 600px;">
      <h4>投稿フォーム</h4>
       <div class="row">
         <p id="notice"></p>

            <%= form_with model: @post_content, url: post_contents_path do |f| %>
               <div class="form-group row">
                  <label class="col-sm-5 col-form-label">画像</label>
                    <div class="col-sm-7">
                      <%#= f.file_field :image, accept: "image/*" %>
                      <%#= f. :main_images, as: :file, hint: 'JPEG/PNG (1200x400)', input_html: { multiple: true } %>
                      <%= f.file_field :main_images, multiple: true %>
                    </div>

                  <label class="col-sm-5 col-form-label">位置情報</label>
                    <div class="col-sm-7">
                      <%= f.text_field :address, value: @address %>
                      <%= f.hidden_field :latitude, value: @latitude %>
                      <%= f.hidden_field :longitude, value: @longitude %>
                      <%= f.hidden_field :prefectures, value: @prefecture %>
                    </div>

                  <label class="col-sm-5 col-form-label">場所名</label>
                    <div class="col-sm-7">
                      <%= f.text_field :name %>
                    </div>

                  <label class="col-sm-5 col-form-label">説明</label>
                    <div class="col-sm-7">
                      <%= f.text_area :description, rows: 5 %>
                    </div>
                  <%= f.submit '投稿', class: 'btn btn-success btn-sm' %>
            <% end %>
      </div>
    </div>

    <div id='map'></div>
    <style>
     #map {
       height: 400px;
       width: 400px;
       border-radius: 35px;
       border: 15px solid #000;
     }

　　</style>
　　 <script>
　　　let map

　　　function initMap(){
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @latitude %>, lng: <%= @longitude %> },
          zoom: 18,
        });

        marker = new google.maps.Marker({
          position:  {lat: <%= @latitude %>, lng: <%= @longitude %> },
          map: map
        });
      }
　　 </script>
　　 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcJDsa17yjZCtsrXy3jD9ogZ_ryBFm0LA&callback=initMap" async defer></script>
  </body>
</main>
