<h3 class="m-5 bg-warning bg-gradient text-center">♡いいね一覧♡</h3>
<% @favorite_posts.each do |post|%>
 <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-5">
          <% if post.main_images.attached? %>
            <div class="image_slide mr-5">
              <% post.main_images.each do |image| %>
                <div class="image_size"><%= image_tag(image, size: "200x200") %></div>
              <%end%>
            </div>
          <% else %>
            <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
        </div>
          <div class="col-7">
            <div class="item-group row">
            
          <label class="col-sm-5 col-item-label">投稿者</label>
           <div class="col-sm-7">
              <%= link_to customer_path(post.customer.id) do %>
               <%= post.customer.name%>
              <%end%>
           </div>

           <label class="col-sm-5 col-item-label">位置情報</label>
           <div class="col-sm-7">
             <%= link_to post_content_path(post.id) do %>
               <%= post.address %>
             <%end%>
           </div>

            <label class="col-sm-5 col-form-label">場所名</label>
            <div class="col-sm-7">
              <%= post.name %>
            </div>

            <label class="col-sm-5 col-form-label">内容</label>
            <div class="col-sm-7">
              <%= post.description %>
            </div>
    </div>
  </div>
<%end%>

<script>
  $(function() {
    $('.image_slide').slick({
        dots: true,
        centerMode: true,
        centerPadding: "0px",
    });
  });
</script>