<!DOCTYPE html>
<html>
  <head>
    <title>Koko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>

      <nav class="navbar navbar-expand-lg" style='border-bottom: 1px solid'>
        <div class="container">
         <a class="navbar-brand" href="/">
           <span>LOGO</span>
         </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if current_customer %>
            <li class="nav-item">
              <%= link_to "マップ",maps_path, class: 'btn btn-outline-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ",customers_path, class: 'btn btn-outline-dark' %>

            </li>
            <li class="nav-item">
              <%= link_to "ランキング",maps_path, class: 'btn btn-outline-dark' %>

            </li>
            <li class="nav-item">
              <%= link_to "ログアウト",destroy_customer_session_path, method: :delete, class: 'btn btn-outline-dark' %>

            </li>
            <!--<% elsif current_admin %>-->
            <!-- <li class="nav-item">-->
            <!--  <%= link_to "マップ",maps_path, class: 'btn btn-outline-dark' %>-->

            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--  <%= link_to "ユーザー",admin_customers_path, class: 'btn btn-outline-dark' %>-->

            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--  <%= link_to "投稿一覧",admin_path, class: 'btn btn-outline-dark' %>-->

            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--  <%= link_to "ログアウト",destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>-->

            <!--</li>-->
            <% else %>

            <!--<% end %>-->

            </ul>
          </div>
        </div>
      </nav>
    </header>
      <p><%= flash[:notice] %></p>
    <main>
      <p id="notice"></p>
    <%= yield %>
    </main>
      <p id="notice"></p>
    <footer class=" bg-dark pt-5 pb-4 mt-5">
    </footer>
    
  </body>
</html>
